pandas==2.0.0
gensim==4.3.1
protobuf==3.20.1
nltk==3.8.1
boto3
peewee
peewee-db-evolve
psycopg2-binary
faiss-cpu==1.7.4
bytetrade-recommend-model-sdk==0.0.24
schedule==1.2.0
beautifulsoup4
rake-nltk==1.0.6
sentence-transformers==2.2.2
psutil==5.9.5