// app global css in SCSS form


.text-color-FF8642 {
  color: #FF8642 !important;
}

.bg-color-FF8642 {
  background: #FF8642 !important;
}

/// 主题文字颜色
.text-primary-color {
  color: #FF8642;
}

.item-active-color {
  color: #FF8642;
}

i {
  font-style: normal;
}


.btn-confirm {
  margin-top: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  text-transform: capitalize;
  padding: 8px 16px;
  background: #FF8642;

  &::before {
    box-shadow: none;
  }
}

.btn-confirm[disabled] {
  background: #ececec;
  color: #7a7a7a;
}



// Dark mode
body.body--dark {

  .text-7A7A7A {
    color: #B2B8CA;
  }

  .drawer {
    background-color: #2A2D35;
  }

  .lauout-app {
    background-color: #EcEceC;
  }


  .menuItem {
    &:hover {
      color: #FF8642;
    }
  }


  .bg-color-white {
    background-color: #2A2D35;
  }



  .text-major-color {
    color: white;
  }

  .text-minor-color {
    color: #857C77;
  }


  .h-common {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    color: white
  }

  h1 {
    @extend .h-common;
    font-size: 24px;
    line-height: 28px;
  }

  h2 {
    @extend .h-common;
    font-size: 22px;
    line-height: 26px;
  }

  h3 {
    @extend .h-common;
    font-size: 20px;
    line-height: 24px;
  }

  h4,
  h5,
  h6 {
    @extend .h-common;
    font-size: 18px;
    line-height: 24px;
  }

  iframe {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    // height: auto;
  }

  video {
    margin-top: 10px;
    margin-top: 10px;
    width: 100%;
  }


  figure {
    overflow: auto;
    margin: 10px 0;
    padding: 0;
  }

  figure table {
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
}


// Light Mode
body.body--light {

  .text-7A7A7A {
    color: #7A7A7A;
  }

  .drawer {
    background-color: #F8F8F8;
  }

  .lauout-app {
    background-color: #EcEceC;
  }

  .menuItem {
    &:hover {
      // background: #F3F8FE;
      color: #FF8642;
    }
  }

  .bg-color-white {
    background-color: white;
  }

  .text-major-color {
    color: #1A130F;
  }

  .text-minor-color {
    color: #857C77;
  }


  .h-common {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    color: #1A130F
  }

  h1 {
    @extend .h-common;
    font-size: 24px;
    line-height: 28px;
  }

  h2 {
    @extend .h-common;
    font-size: 22px;
    line-height: 26px;
  }

  h3 {
    @extend .h-common;
    font-size: 20px;
    line-height: 24px;
  }

  h4,
  h5,
  h6 {
    @extend .h-common;
    font-size: 18px;
    line-height: 24px;
  }

  iframe {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    // height: auto;
  }

  video {
    margin-top: 10px;
    margin-top: 10px;
    width: 100%;
  }


  figure {
    overflow: auto;
    margin: 10px 0;
    padding: 0;
  }

  figure table {
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
}

.margin-bottom-safe-area {
  margin-bottom: env(safe-area-inset-bottom);
}
